data/*_preprocessed.csv
data/train.csv
data/None_*
lib/__pycache__/
lib/.ipynb_checkpoints/
lib/lstm
lib/models/catboost*
notebooks/.ipynb_checkpoints/
notebooks/catboost_info/
poetry.lock
pyproject.toml
screenlog*

